.box-header {
  height: 60px;
}

.results-container {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .results-container{
        margin-top: 50px;
    }
}

@media screen and (max-width: 766px) {
    .results-container{
        margin-top: 230px !important;
    }
}