.btn-search{
  background: #086ce4 !important;
  border-color: #086ce4 !important;
  color: white !important;
  border-radius: 8px;
  outline: none;
  width: 100%;
  height: 50px;
}

.btn-search:hover{
    background: #3d8ded !important;
    color: white !important;
}

.btn-increment-decrement{
  background-color: #086ce4;
}