.signup-form-container {
  width: 30%;
}

.signup-form-container input {
  border: 1px solid #6f6f6f;
}

.signup-form-container .input-group input {
  border-right: none;
}

.signup-form-container .input-group .input-group-text {
  border: 1px solid #6f6f6f;
}

.signup-form-container .input-group .input-group-text i{
    cursor: pointer;
}

.signup-form-container .loader {
  height: 30px !important;
  padding: 0 !important;
  margin: 0 !important;
}

@media screen and (max-width: 980px) {
  .signup-form-container {
    width: 90%;
  }
}
